@import '../../../../sass/common.scss';

.send-reserve-mail--dialog {

    .title {
        background-color: $color-primary;
        color: #FFFFFF;
        width: 100%;
        font-size: 16px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        &-close {
            position: absolute;
            z-index: 3;
            right: 20px;
            bottom: 8%;
            cursor: pointer;
        }

        &-action {
            display: flex;
            justify-content: center;

            .preview {
                border: 1px solid $color-black;
                border-radius: 8px;
                padding: 2px 0;
                width: 100px;
                text-transform: none;
                color: $color-black;
            }

            .send {
                border: 1px solid #808692;
                border-radius: 8px;
                padding: 2px 0;
                width: 100px;
                text-transform: none;
                background-color: #808692;
                color: $color-white;
            }
        }
    }

    .content {
        min-width: 500px;
    }

    .field {
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
        margin-top: 20px;

        &-title {
            font-weight: 600;
        }

        &-align {
            align-items: center !important;
        }

        &-no-align {
            align-items: start !important;
        }

        &-template-menu {
            .MuiSelect-select {
                padding: 4px 10px !important;
            }
        }
    }
}