@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.student-details-common--label {
    background-color: #8b8b8b;
    color: #FFFFFF;
    font-weight: 600;
    width: 100%;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

.student-details-common--info-field {
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    margin-bottom: 20px;
}

.student-details-common--info-field > * {
    font-family: Arial, sans-serif;
}

.student-details-common--info-label {
    font-weight: 600 !important;
}

.student-details-common--class-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 30px 2vw;
    overflow-x: scroll;
    color: #2d3748;
}

.student-details-common--class-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    margin-right: 35px;
    border-radius: 9px;
}

.student-details-common--class-card-status {
    color: #FFF;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 15px; 
    margin-left: 16px;
}