@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.student-details--label {
    background-color: #8b8b8b;
    color: #FFFFFF;
    font-weight: 600;
    width: 100%;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
}

.student-details--info-field {
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    margin-bottom: 20px;
}

.student-details--info-field > * {
    font-family: Arial, sans-serif;
}

.student-details--info-label {
    font-weight: 600 !important;
}

.student-details--score-card {
    border-radius: 6px !important;
    margin-top: 15px;
    margin-right: 35px;
}

.student-details--score-status {
    margin-left: 25px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #2d3748;
    padding: 5px 20px;
}

.student-details--score-card-tile {
    text-align: center;
    padding: 15px 14px;
    color: #000000;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 85px;
}

.student-details--score-card-tile-score {
    margin-top: 15px;
    font-size: 25px;
}