@import '../../sass/common.scss';

.navbar {
  &--box {
    z-index: 3;
    width: 100%;
    max-width: 256px;
    background-color: #edf2f7;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: max-width 0.1s ease;
    white-space: nowrap;
  }

  &--box-hidden {
    max-width: 50px;
  }

  &--menu-close {
    margin-bottom: 5px !important;
    position: fixed;
  }

  &--menu-btn {
    height: 50px;

    &-selected {
      background-color: #dadada !important;
      border-left: 4px solid $color-primary !important;
    }
  }

  &--menu-icon {
    min-width: 40px !important;
  }

  &--menu-items {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 0.5em;
     }
   
     &::-webkit-scrollbar-thumb {
      background-color: #8a8a8a;
      border-radius: 3px;
   
      &:hover {
       background: $color-primary;
      }
     }
  }

  &--menu-sub-btn {
    background-color: #ecf8ff !important;
    margin: 10px 15px !important;
    padding: 4px 0 !important;
    padding-left: 45px !important;
  }
}